<!DOCTYPE html>
<html>
<head>
<title>Experiment 3</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

{% include 'header.html' %}
<div class="exp-layout">
    <div class="exp-left">

        <h2>Experiment 3 – Time Domain Analysis for Second Order Systems</h2>

        <h3>Reference Program</h3>
        
        <pre class="code nocopy">
s=%s; 
t=0:0.0001:5;

Sys=syslin('c',25,s^2+4*s+25); 
G_s=csim('step',t,Sys);
plot2d(t,G_s,rect=[0,0,5,1.6]);
xgrid();
title("Response of Second Order System","fontsize",1.5);
xlabel("Time in Sec.","fontsize",1);
ylabel("Response","fontsize",1);

D_Pol=Sys.den; 
z=coeff(D_Pol);

Wn=sqrt(z(1,1)); 
zeta=z(1,2)/(2*Wn); 
Wd=Wn*sqrt(1-zeta^2);

Tp=%pi/Wd;
Mp=100*exp((-%pi*zeta)/sqrt(1-zeta^2));
Td=(1+0.7*zeta)/Wn; 
a=atan(sqrt(1-zeta^2)/zeta); 
Tr=(%pi-a)/Wd; 
Tset=4/(zeta*Wn);

Peak_Time="Peak Time = "+string(Tp)+" secs";
Peak_Overshoot="Peak Overshoot = "+string(Mp)+" percent";
Delay_Time="Delay Time = "+string(Td)+" secs";
Rise_Time="Rise Time = "+string(Tr)+" secs";
Settling_Time="Settling Time = "+string(Tset)+" secs";

xstring(3.2,1.4,"Time Domain Specifications");
xstring(3.2,1.25,Peak_Time);
xstring(3.2,1.1,Peak_Overshoot);
xstring(3.2,0.95,Delay_Time);
xstring(3.2,0.8,Rise_Time);
xstring(3.2,0.65,Settling_Time);

        </pre>

        <h3>Type the Program</h3>
        <textarea id="code" rows="10"></textarea>

        <button class="primary-btn" onclick="run()">Execute</button>
        <p id="msg"></p>
        <div class="back-container">
            <button class="back-btn" onclick="location.href='/experiment3'">← Back</button>
        </div>

    </div>
    <div class="exp-right">
        <h3>Output</h3>
        <img id="output">
    </div>

</div>

<script>
function run(){
 let msg=document.getElementById("msg");
 let out=document.getElementById("output");
 let d=new FormData();
 d.append("code",document.getElementById("code").value);

 fetch("/run_exp3_1",{method:"POST",body:d})
 .then(r=>r.json()).then(r=>{
  if(r.error){
    msg.className="error-box";
    msg.innerHTML=r.error;
    out.src="";
  } else {
    msg.className="success-box";
    msg.innerHTML="Execution Successful";
    out.src="/static/output.png?"+Date.now();
  }
 });
}
</script>

</body>
</html>
