<!DOCTYPE html>
<html>
<head>
<title>Experiment 3</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

{% include 'header.html' %}
<div class="exp-layout">
    <div class="exp-left">

        <h2>Experiment 3 – Time Domain Analysis for Second Order Systems</h2>

        <h3>Reference Program</h3>
        
        <pre class="code nocopy">

        </pre>

        <h3>Type the Program</h3>
        <textarea id="code" rows="10"></textarea>

        <button class="primary-btn" onclick="run()">Execute</button>
        <p id="msg"></p>
        <div class="back-container">
            <button class="back-btn" onclick="location.href='/experiment3'">← Back</button>
        </div>

    </div>
    <div class="exp-right">
        <h3>Output</h3>
        <img id="output">
    </div>

</div>

<script>
function run(){
 let msg=document.getElementById("msg");
 let out=document.getElementById("output");
 let d=new FormData();
 d.append("code",document.getElementById("code").value);

 fetch("/run_exp3_1",{method:"POST",body:d})
 .then(r=>r.json()).then(r=>{
  if(r.error){
    msg.className="error-box";
    msg.innerHTML=r.error;
    out.src="";
  } else {
    msg.className="success-box";
    msg.innerHTML="Execution Successful";
    out.src="/static/output.png?"+Date.now();
  }
 });
}
</script>

</body>
</html>
