<!DOCTYPE html>
<html>
<head>
<title>Experiment 11</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

{% include 'header.html' %}
<div class="exp-layout">
    <div class="exp-left">

        <h2> Experiment 11 – Design of Compensators</h2>

        <h3>Reference Program</h3>
        
        <pre class="code nocopy">
K  = 15;
Pd = 45;
ep = 5;
wm = 5.6;

s = %s;

G = syslin('c', K/(s^3 + s^2));

[Gm, Gfr] = g_margin(G);
[Pm, Pfr] = p_margin(G);

subplot(2,2,1);
bode(G);
xtitle("Bode Plot of Uncompensated System");

ph = Pd - Pm + ep;

if ph > 60 then
    phm = ph / 2;
else
    phm = ph;
end

alpha = (1 - sind(phm)) / (1 + sind(phm));

T = 1 / (wm * sqrt(alpha));

Gc = syslin('c', (s + (1/T)) / (s + (1/(alpha*T))));

if ph == phm then
    Go = (Gc * G) / alpha;
else
    Go = Gc * Gc * G;
end

subplot(2,2,3);
bode(Go);
xtitle("Bode Plot of Compensated System");

comp   = syslin('c', Go/(1 + Go));
uncomp = syslin('c', G/(1 + G));

t = 0:0.1:10;
y1 = csim('step', t, uncomp);

subplot(2,2,2);
plot(t, y1);
xtitle("Uncompensated System Response", "Time (sec)", "Amplitude");

t1 = 0:1:1000;
y2 = csim('step', t1, comp);

subplot(2,2,4);
plot(t1, y2);
xtitle("Compensated System Response", "Time (sec)", "Amplitude")
</pre>
        <h3>Type the Program</h3>
        <textarea id="code" rows="10"></textarea>

        <button class="primary-btn" onclick="run()">Execute</button>
        <p id="msg"></p>
        <div class="back-container">
            <button class="back-btn" onclick="location.href='/experiment11'">← Back</button>
        </div>

    </div>
    <div class="exp-right">
        <h3>Output</h3>
        <img id="output">
    </div>

</div>

<script>
function run(){
 let msg=document.getElementById("msg");
 let out=document.getElementById("output");
 let d=new FormData();
 d.append("code",document.getElementById("code").value);

 fetch("/run_exp11_1",{method:"POST",body:d})
 .then(r=>r.json()).then(r=>{
  if(r.error){
    msg.className="error-box";
    msg.innerHTML=r.error;
    out.src="";
  } else {
    msg.className="success-box";
    msg.innerHTML="Execution Successful";
    out.src="/static/output.png?"+Date.now();
  }
 });
}
</script>

</body>
{% include 'footer.html' %}
</html>
