<header class="top-header">
    <div class="logo-left">
        <img src="{{ url_for('static',filename='srm_logo.svg') }}">
    </div>

    <div class="title-center">
        <h1>Department of Electronics and Instrumentation Engineering</h1>
        <h1>Control System Virtual Laboratory</h1>
    </div>

    <div class="logo-right">
        <img src="{{ url_for('static',filename='vlab_logo.jpg') }}">
        <p>An MoE Govt of India Initiative</p>
    </div>
</header>
<div class="black-bar"></div>
