<!DOCTYPE html>
<html>
<head>
    <title>Control Systems Virtual Laboratory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="index-container">
    <h1 class="index-heading">List of Experiments</h1>
    <div class="experiment-list">
        <div class="experiment-item" onclick="location.href='/experiment12'">
            <span class="exp-no">Experiment 1.1</span>
            <span class="exp-title">Block Diagram Reduction Technique</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment13'">
            <span class="exp-no">Experiment 1.2</span>
            <span class="exp-title">Signal Flow Graph Analysis</span>
        </div>
    </div>
</div>
</body>
{% include 'footer.html' %}
</html>
