<!DOCTYPE html>
<html>
<head>
    <title>Control Systems Virtual Laboratory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="index-container">
    <h1 class="index-heading">List of Experiments</h1>
    <div class="experiment-list">
        <div class="experiment-item" onclick="location.href='/experiment1'">
            <span class="exp-no">Experiment 1</span>
            <span class="exp-title">
                Step, Impulse, Sinusoidal and Ramp Response of 1st and 2nd Order Systems</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment2'">
            <span class="exp-no">Experiment 2</span>
            <span class="exp-title">Identification of Damping in Second Order System</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment3'">
            <span class="exp-no">Experiment 3</span>
            <span class="exp-title">Time Domain Specification of Second Order Systems</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment4'">
            <span class="exp-no">Experiment 4</span>
            <span class="exp-title">Stability Analysis of Linear System using Pole - Zero Location of the System</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment5'">
            <span class="exp-no">Experiment 5</span>
            <span class="exp-title">Stability Analysis of Linear System using Routh Hurwitz Criterion</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment6'">
            <span class="exp-no">Experiment 6</span>
            <span class="exp-title">Stability Analysis of Linear System using Root Locus</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment7'">
            <span class="exp-no">Experiment 7</span>
            <span class="exp-title">Frequency Response Analysis Using Bode Plot</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment8'">
            <span class="exp-no">Experiment 8</span>
            <span class="exp-title">Frequency Response Analysis Using Polar Plot</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment9'">
            <span class="exp-no">Experiment 9</span>
            <span class="exp-title">Frequency Response Analysis Using Nyquist plot</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment10'">
            <span class="exp-no">Experiment 10</span>
            <span class="exp-title">Design of PID Controller for First Order and Second Order Systems</span>
        </div>
    </div>
</div>
</body>
{% include 'footer.html' %}
</html>
