<!DOCTYPE html>
<html>
<head>
    <title>Control Systems Virtual Laboratory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="index-container">
    <h1 class="index-heading">List of Experiments</h1>
    <div class="experiment-list">
        <div class="experiment-item" onclick="location.href='/experiment4'">
            <span class="exp-no">Experiment 3.1</span>
            <span class="exp-title">Stability Analysis of Linear System using Pole - Zero Location of the System</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment5'">
            <span class="exp-no">Experiment 3.2</span>
            <span class="exp-title">Stability Analysis of Linear System using Routh Hurwitz Criterion</span>
        </div>
        <div class="experiment-item" onclick="location.href='/experiment6'">
            <span class="exp-no">Experiment 3.3</span>
            <span class="exp-title">Stability Analysis of Linear System using Root Locus</span>
        </div>
    </div>
</div>
</body>
{% include 'footer.html' %}
</html>
